* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Gilroy", sans-serif; 
} 
body { 
    background: #b0c0c5; 
    background: linear-gradient( 
        180deg, 
        #95e5f7 0%, 
        #c0cded 100%
    ); 
} 
  
@import "./library"; 
@import "./player"; 
@import "./song"; 
@import "./nav"; 
h2, 
h3 { 
    color: #060606; 
} 
h3, 
h4 { 
    font-weight: 600; 
} 
button { 
    font-weight: 700; 
} 